/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #36453b;
  --secondary: #754043;
  --accent: #89a7a7;
  --white: #ffffff;
  --black: #000000;
  --black_s80: #333333;
  --black_s50: #666666;
  --black_s40: #999999;
  --black_s20: #cccccc;
  --black_s10: #e6e6e6;

  --fontStack: "Source Sans Pro", sans-serif;
  --fontStackAlt: "Oswald", sans-serif;
}

body {
  font-family: var(--fontStack);
  font-size: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
