:root {
  --primary: #13260E;
  --secondary: #D9B1A3;
  --accent: #D6D98B;
  --white: #ffffff;
  --offWhite: #fafafa;
  --black: #000000;
  --black_s80: #333333;
  --black_s50: #666666;
  --black_s40: #999999;
  --black_s20: #cccccc;
  --black_s10: #e6e6e6;
  --box-shadow: #0000001f;


  --fontStack: "Source Sans Pro", sans-serif;
  --fontStackAlt: "Oswald", sans-serif;
}

body {
  font-family: var(--fontStack);
  font-size: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
